/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode

# Ini ketika sudah ada di cPanel maka jangan dikomentar. Jika belum ada maka komentari.
/public/api
# /.env
