.select2-container .select2-selection--single {
  width: 100% !important;
  background-color: white;
  border: 1px solid #d1d5db!important;
  padding: 0.375rem 0.75rem;
  font-size: 0.875rem;
  height: 38px;
  border-radius: 0.4rem;
  color: #1f2937;
  margin-top: 6px;
}

.select2-container .select2-selection--single .select2-selection__arrow {
  top: 30% !important;
  right: 8px;
}

.select2-container .select2-selection--single .select2-selection__rendered {
  font-size: 14px !important;
  top: -2px;
  left: -6px;
  position: relative;
  color: #1f2937;
}

.select2-search__field {
  font-size: 14px !important;
  border-radius: 0.5rem;
}

.select2-results {
  font-size: 14px !important;
  border-radius: 0px 10px 0px 10px;
}